{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}

<h1> Job Huntress </h1>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    {% endif %}
{% endwith %}
    
<form>
    <button type='submit' formaction="/registration" formmethod="GET" class="button-21" role="button">Register</button>
    <button type='submit' formaction="/login" formmethod="GET" class="button-21" role="button">Login</button>
</form>
{% endblock %}