{% extends 'base.html' %}


{% block content %}


{% include 'header.html' %}


<div id="wrapper">

<!-- Banner
================================================== -->
<div id="banner" class="with-transparent-header parallax background" style="background-image: url('static/images/pexels-fauxels-3183150.jpg')" data-img-width="2000" data-img-height="1330" data-diff="300">
	<div class="container">
		<div class="sixteen columns">
			
			<div class="search-container">

				<!-- Form -->
				<h2>Search Jobs</h2>
				<form action="/apicall", method="POST">
					<input type="text" name="search-terms" class="ico-01" placeholder="job title, keywords or company name" value=""/>
					<input type="text" name="search-location" class="ico-02" placeholder="city, province or region" value=""/>
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>

				<!-- Browse Jobs -->
				<div class="browse-jobs">
					Browse jobs by <a href="/browse-categories"> category</a> or <a href="/browse-locations">location</a>
				</div>

			</div>

		</div>
	</div>
</div>


<!-- Content
================================================== -->

<!-- {% with categories=categories %} -->
	{% include 'categories-section.html' %}
<!-- {% endwith %} -->


<!-- Flip banner -->
	<a href="/register" class="flip-banner margin-bottom-55" data-color="#26ae61" data-color-opacity="0.93">
		<div class="flip-banner-content">
			<h2 class="flip-visible">Sign up and see for yourself!</h2>
			<h2 class="flip-hidden">Get Started <i class="fa fa-angle-right"></i></h2>
		</div>
	</a>
<!-- Flip banner / End -->

{% include 'footer.html' %}


</div>
<!-- Wrapper / End -->


{% endblock %}