{% extends 'base.html' %}
{% block content %}

{% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
{% endfor %}

<div class="center">
    <div style="display: inline-block; text-align: left">
<h1>Job Huntress</h1>

<form>
    <button type="submit" formaction="/{{ session['user_id'] }}" formmethod="GET" class="button-70" role="button">Profile</button>
    <button type="submit" formaction="/logout" formmethod="GET" class="button-70" role="button">Logout</button>
</form>

<form action="/apicall", method="POST">
    <input name="search-terms" class="textbox" placeholder="Keywords">


</div>
    <button type="submit" class="button-33" role="button">Search Jobs</button> 
</form>
</div>

    <!-- need to add an if statement to check if there is a list of titles -->
    
    <ul>
    {% if data %}
    {% for job in data %}
        <li>
            <a href="{{ job.detail_url }}">{{ job.title }} for {{ job.company_name }} in {{ job.location }}</a>
            <a href="/savejob?title={{job.title}}&company_name={{job.company_name}}&location={{job.location}}&description={{job.description}}&url={{job.detail_url}}" >Save Job</a>
        </li>
    {% endfor %}
    {% endif %}
    </ul>
    
{% endblock %}